<form action="/sign-up" method="POST">
  <h1>Sign Up</h1>

  <label for="firstName">First Name</label>
  <input id="firstName" name="firstName" type="text" value="<%= userData ? userData.firstName : '' %>">
  <%- include('./partials/error-message.ejs', { errors: errors, fieldName: 'firstName' }) %>

  <label for="lastName">Last Name</label>
  <input id="lastName" name="lastName" type="text" value="<%= userData ? userData.lastName : '' %>">
  <%- include('./partials/error-message.ejs', { errors: errors, fieldName: 'lastName' }) %>

  <label for="username">Username</label>
  <input id="username" name="username" type="text" value="<%= userData ? userData.username : '' %>">
  <%- include('./partials/error-message.ejs', { errors: errors, fieldName: 'username' }) %>

  <label for="password">Password</label>
  <input id="password" name="password" type="password" value="<%= userData ? userData.password : '' %>">
  <%- include('./partials/error-message.ejs', { errors: errors, fieldName: 'password' }) %>

  <label for="confirmPassword">Confirm Password</label>
  <input name="confirmPassword" type="password" value="<%= userData ? userData.confirmPassword : '' %>">
  <%- include('./partials/error-message.ejs', { errors: errors, fieldName: 'confirmPassword' }) %>

  <button type="submit">Sign Up</button>
</form>
<button><a href="/">Back to home</a></button>
